@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cafe-claro: #3498db; /* Azul */
    --cafe-escuro: #333333; /* Cinza escuro */
    --cor-butao: #B77E66;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: black;
}

header{
    position: relative;
    height: 100vh;
    max-width: 1400px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(coffee_image.png); /* Sobreposição escura */
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 35px 120px 0 120px;
}

.superior {
 display: flex;
 width: 100%;
 align-items: center;
 justify-content: space-between;
}

.logo {
    color: white;
    font-family: Montserrat;
    font-size: 35px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    position: relative; /* Necessário para usar o ::after */
    padding-bottom: 5px; /* Espaço entre o texto e o traço */
}

nav ul li a::after {
    content: ''; /* Elemento vazio para criar o traço */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; /* Largura inicial (sem traço) */
    height: 2px; /* Altura do traço */
    background-color: white; /* Cor do traço */
    transition: width 0.3s ease; /* Animação suave */
}

nav ul li a:hover::after {
    width: 100%; /* Largura total do link ao passar o mouse */
}

.headermain{
    display: flex;
    flex-direction: column;
    padding-top: 20%;
}

.headermain h1{
    font-family: Montserrat;
    color: #fff;
    font-size: 85px;
    font-weight: 700;
}

.headermain p{
    padding-top: 35px;
    color: #fff;
    font-size: 22px;
    letter-spacing: 3px;
}

main{
    height: 100vh;
    max-width: 1400px;
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(header\ 1.png); Sobreposição escura */
    background-size: cover;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.historia {
    display: flex;
    height: 100vh; /* ocupa a tela inteira */
    width: 100%;
  }
  
  .esqhistoria, .dirhistoria {
    flex: 1; /* divide igualmente em 50% */
    box-sizing: border-box;
    padding: 40px;
  }
  
  .esqhistoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .dirhistoria {
    flex: 1;
    /* background-image: url('coffe\ xicara.png'); coloque o caminho correto */
    /* background-repeat: no-repeat;
    background-position: center center;
    height: 100vh; altura da tela inteira */
  }

.txthistoria {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 54px;
    color: #603809;
    margin-bottom: 50px;
}

.historia p{
    font-family: Montserrat;
    font-size: 18px;
    color: #707070;
    line-height: 36px
}

footer {
    height: 100vh;
    max-width: 1400px;
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(header\ 1.png); Sobreposição escura */
    background-size: cover;    
    background-color: #FFF9F1;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.container {
    display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px; /* Espaço entre os lados esquerdo e direito */
  flex-wrap: wrap;
}

.contato {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 54px;
    color: #603809;
    margin-bottom: 70px;
    margin-top: 70px;
    text-align: center;
    line-height: 36px
}

.info {
  margin-bottom: 25px; /* Espaço entre cada bloco de informação */
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  color: #603809;
}

.info a {
  color: #603809;
  text-decoration: none;
}

.info a:hover {
  color: #603809;
}

.imgcafe{
    background-image: url(fotter_image1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

